@use '../presets' as *;
@use '../mixins' as *;

.experience {
  background-color: $color-primary;
  color: $color-white;
  padding-top: 100px;
  padding-bottom: 93px;

  @media (max-width:992px) {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  @media (max-width:375px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__title {
    width: min(100% - $gap-xl, $container-primary);
    margin-inline: auto;
  }

  &__container {
    width: min(100% - $gap-xl, $container-primary);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $gap-xl;

    @media (max-width:1200px) {
      justify-content: space-evenly;
    }

    @media (max-width:576px) {
      width: 100%;
    }

    @media (max-width:375px) {
      width: 100%;
    }
  }
}


.experience-item {
  display: flex;
  gap: $gap;

  &__number {
    font-size: 1.3125rem;
    font-weight: 500;
    margin-top: -5px;
  }

  &__image {
    order: -1;
  }
}