@use '../presets' as *;
@use '../mixins' as *;

.navbar {
  margin-bottom: 123px;

  @media (max-width:992px) {
    margin-bottom: 60px;
  }

  @media (max-width:576px) {
    margin-bottom: 40px;
  }

  @media (max-width:375px) {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    margin-left: -0.75em;

    @media (max-width:992px) {
      column-gap: 20px;
    }

    @media (max-width:576px) {
      column-gap: 0px;
      justify-content: center;
    }
  }

  &__link {
    display: block;
    padding: 0.5em 0.75em;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;

    &--active {
      color: $color-primary;
      font-weight: 500;
    }
  }
}