@use '../presets' as *;
@use '../mixins' as *;

.process {
  background-color: $color-gray-light;
  padding-top: 100px;
  padding-bottom: 49px;
  @include section();

  &__title {
    margin-top: -11px;
  }
}