@use '../presets' as *;
@use '../mixins' as *;

.process {
  background-color: $color-gray-light;
  padding-top: 100px;
  padding-bottom: 49px;
  text-align: center;
}

.process__title {
  margin-bottom: 29px;
  margin-top: -11px;
}

.process__description {
  color: $color-secondary;
}