@use '../presets' as *;

@mixin section() {
  text-align: center;

  &__title {
    margin-bottom: 29px;

    @media (max-width:576px) {
      font-size: 32px;
    }

    @media (max-width:375px) {
      font-size: 30px;
    }
  }

  &__description {
    color: $color-secondary;

    @media (max-width:576px) {
      font-size: 14px;
    }

    @media (max-width:375px) {
      font-size: 12px;
    }
  }
}